body{
    margin: 0%;
    background-color: #010326;
}
header{
    height: 70px;
    background-color: #010326;
}
.headerint{
    width: 1000px;
    margin: auto;
    background-color: #010326;

}
.logo{
    width: 30%;
    height: 70px;
    float: left;
}
.logotipo{
    height: 70px;
}
.menu{
    width: 70%;
    height: 60px;
    float: right;
    
}
.menu ul,
.menu li{
    margin: 0;
    padding: 0;
    list-style: none;

}
.menuint li{
    float: right;
    line-height: 65px;
    padding-left:10px;
    padding-right: 10px;
    font-size: 15px;
    margin: 0;
    cursor: pointer;
}
.menuint li:hover{
    
    font-size: 21px;
    border-bottom: 3px solid #f2f2f2;
    transition: 0.5s;
}
.menuint li a{
    text-decoration: none;
    color: #f2f2f2;
}
main{
    margin: 0;
    padding: 0;
}
.mainint{
    width: 1000px;
    height: 1000px;
    margin: auto;
}
.loja{
    width: 1000px;
    text-align: center;
    color: #f2f2f2;
    font-size: 40px;
    font-family: montserrat;
    font-weight: bold;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 40px;

}
.catalago{
    width: 250px;
    height: 300px;
    float: left;
    text-align: center;
    padding-top: 10px;
    font-family: montserrat;

}
.catalago:hover{
    transition: 1s;
    cursor: pointer;
    background: #425b8c;
    background: linear-gradient(175deg,#425b8c 0%, #010326 90%);
    border-radius: 10px;

}
.img{
    width: 200px;
    height: 200px; 
    border-radius: 10px;   
}
.name{
    font-size: 12px;
    color: #f2f2f2;
    margin-top: 5px;
}
.price{
    color: #f2f2f2;
    font-size: 14px;
    
    margin-top: 10px;
}
footer{
    margin: 0;
    padding: 0;
    background: #020f59;
    background: linear-gradient(89deg,#020f59 0%, #425b8c 80%);
}
.footerint{
    width: 1000px;
    margin: auto;
    margin-top:-100px;
    height: 200px;
}
.footeresquerda{
    float: left;
}
.ftitulo{
    padding-top: 20px;
    color: #f2f2f2;
    margin-top: 20px;
    margin-left: 20px;
    font-family: montserrat;
    font-size: 12px;
}
.fsub{
    margin-left: 20px;
    font-family: montserrat;
    color: #f2f2f2;
    font-size: 12px;
}
.footerdireita{
    float: right;
}
.footerdireita li{
    text-decoration: none;
    list-style: none;
    margin-right: 500px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.footerdireita a{
    text-decoration: none;
    color: #f2f2f2;
    font-size: 12px;
    padding-top: 20px;
    font-family: montserrat;
}
.textofooter{
    color: #f2f2f2;
    float: right;
    margin-top: -40px;
    margin-right: 30px;
}